body {
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

form label {
  font-weight: 500;
  color: #333;
}

form input,
form textarea,
form select {
  border-radius: 0.75rem !important;
}

.btn-success:hover {
  background-color: #28a745cc;
}
